.ProfessionalProjects {
    @apply w-full h-full pb-12 sm:pt-24; /* bg-gradient-to-b bg-stone-100 to-sky-200 */
}

.Card {
    --neon-border-color: rgba(0, 255, 0);
    box-shadow:
            0 0 .1rem #ffffff,
            inset 0 0 .1rem #ffffff;
    @apply h-auto sm:m-5 mb-10 rounded-tr-[5vh] rounded-bl-[5vh];
}
.Card:hover {
    --neon-border-color: rgba(255, 255, 255, 0.459);
    box-shadow:
            0 0 .1rem #ffffff,
            inset 0 0 .1rem #ffffff,
            0 0 0rem var(--neon-border-color),
            inset 0 0 0rem var(--neon-border-color),
            0 0 2rem var(--neon-border-color),
            inset 0 0 0rem var(--neon-border-color);
    @apply h-auto sm:m-5 mb-10 rounded-tr-[5vh] rounded-bl-[5vh];
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Card-Image {
    @apply sm:h-[50vh] h-[20vh] border-black bg-black w-full  bg-cover bg-no-repeat bg-center sm:bg-left rounded-[0vh];
}

.Card-Article {
    @apply p-2 border-b-2 w-full mb-auto;
}

.Card-Title {
    @apply text-lg text-white font-semibold no-underline underline-offset-2 text-center;
}

.Card-Paragraph {
    @apply mt-5 text-lg font-medium;
}

.Card-Button-Text {
    @apply text-white font-thin text-lg;
}

.Card-Button {
    @apply  border-t-2 text-center p-2 w-full hover:opacity-60 duration-500 align-bottom;
}


.Card-Grid {
    @apply lg:grid lg:grid-cols-3 min-[1920px]:pl-40 min-[1920px]:pr-40  sm:pl-40 sm:pr-40  pr-10 pl-10; /* pl-10 pr-10 */
}

.ShowMore-Center {
    @apply flex justify-center align-middle w-full mt-12;
}

.ShowMore-Button {
    @apply border-2 rounded-2xl text-center p-3 w-1/2 h-1/2 hover:-rotate-2 duration-500;
}

.SpecialCard {
    @apply p-0 h-auto bg-white m-10 sm:mr-4 sm:ml-4 mb-10 rounded-[5vh] overflow-clip w-[40vw]; /* hover:-rotate-2 duration-500 */
}

.SpecialCard-Title {
    @apply text-black font-thin text-lg;
}

.SpecialCard-Grid {
    @apply flex min-[1920px]:pl-20 min-[1920px]:pr-20 pl-0 pr-0  sm:pl-20 sm:pr-20 justify-center items-center;
}

.PersonalProjects {
    @apply w-full h-full;
}

.SpecialCard-SM {
    @apply p-5 h-auto w-[60vw] sm:w-[40vw] min-h-[60vh] max-h-[60vh]  bg-white sm:m-5 mb-10 rounded-[5vh];
}

.SpecialCard-Title-SM {
    @apply text-black font-thin text-2xl;
}
.Card-Image-SM {
    @apply sm:h-[50vh] h-[20vh]  w-full sm:bg-cover bg-contain bg-no-repeat bg-center rounded-[2vh];
}