.Skills-Article {
    @apply h-auto w-full justify-center items-center lg:grid lg:grid-cols-4 sm:mt-12 mt-5 ;
}

.Skills-Aside {
    @apply lg:text-xl text-justify lg:pr-24 lg:border-black border-l-4 lg:pl-4 pr-4 pl-4  sm:col-span-3 lg:ml-5;
}

.Skill-Title {
    @apply lg:text-4xl text-xl col-span-1 p-10 underline underline-offset-4 lg:no-underline lg:text-right;
}

.Stack-Title {
    @apply lg:text-xl text-justify font-semibold p-1 ;
}

.Stack-Item {
    @apply lg:text-xl text-justify font-semibold p-1 bg-slate-300 border rounded-lg hover:bg-opacity-50 duration-500 cursor-default;
}
.Stack-Items {
    @apply gap-2 flex flex-wrap justify-center sm:justify-normal mt-6;
}



.Grow-Animation {
    animation: GrowTransition ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes GrowTransition {
    from {
        transform: scale(1, 0.8);
    }
    to {
        transform: scale(1, 1);;
    }
}
