.Video-Container {
    @apply flex flex-1 flex-wrap  md:grid md:col-span-4 justify-center lg:justify-normal pr-2 pl-2 sm:pt-0 pt-2 md:pl-0 md:pr-0 h-[75vh] min-[1920px]:h-full w-full md:min-h-[60vh] md:min-w-[60vw] bg-slate-200 ; 
}

.Overlay-Container {
    @apply sm:overflow-y-scroll overflow-y-auto overscroll-none fixed left-0 right-0 top-0 bottom-0 flex flex-wrap mr-5 md:mr-10 ml-5 md:ml-10 mt-4 md:mt-[2vh] min-[1920px]:mt-[10vh] mb-20 h-[80vh] md:min-h-[60vh]  w-auto rounded-2xl  border-8 border-slate-800 z-20 bg-white;
    animation: ScaleTransition ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ScaleTransition {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50%{
        opacity: 20%;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.Backdrop {
    @apply fixed right-0 top-0 left-0 bottom-0 z-10 bg-black/80 ;
}

.Video-Close-Icon { 
    @apply fixed w-full h-12 z-30  text-white md:hidden block mb-6 top-[85vh] bottom-[0vh]; /*  fixed w-auto h-12  text-white md:hidden block mb-6 top-[2vh] bottom-[83vh] */
}

.Description-Container {
    @apply h-fit w-full flex flex-1 flex-wrap justify-center items-center   p-5 font-thin;
}
.Description-Title {
    @apply text-2xl font-bold no-underline p-2 m-0;
}
.Project-Container {
    @apply flex md:grid md:col-span-2 h-auto ; /*  lg:pl-12 lg:pr-12 */
}

.Project-Close-Icon {
    @apply  w-full h-10 text-white mt-0 md:block hidden bg-slate-500  p-1;
}